{% comment %}
  Template for an Article block.

  Typical usage of this snippet is::
  <div class="pure-g">
    <div class="pure-u-1" >
      {% for b in article_list %}
        {% include 'compose/_article_block.html' with allow_image_float=True heading_level='h1' %}
      {% endfor %}
    </div>
  </div>
  {% if design %}{% block_add article_create_url 'Article' %}{% endif %}

  N.B. replace article_list and article_create_url with the names you defined
  in your template section e.g. if you defined the section with a slug of "body"
  then use "body_list" and "body_create_url"

  The following CSS is defined in compose/compose.css if you are not including
  this stylesheet you should define the following css classes in your
  stylesheet::
    .stick-left {float:left; padding: 0; margin-right:25px;}
    .stick-right {float:right; padding: 0; margin-left:25px;}
    .stick-1-2 {width: 50%;}
    .stick-1-3 {width: 33%;}
    .stick-1-4 {width: 25%;}

    you also want a media query to set width: 100%; float: none; margin: 0;
    for mobile.

  Parameters that can be passed to this snippet are:

  always_show_text_link : True | False

  allow_image_float : True | False

  outer_class : CSS classes to apply to the outer div

  inner_class : CSS classes to apply to the inner div (around the text and
                picture)

  image_class : CSS classes to apply to the image (for example this allows
                application of the class 'thumbnail' to allow the image to be
                viewed full (or screen) size - need to include the
                image-modal.css and image-modal.js (and jquery) in your
                template.

  title_level_picture : By default the picture will be displayed below the
                        title if this flag is true it will be displayed beside
                        the title
  desktop_width: the width of the desktop used in conjunction with the article
                 image_size to calculate the image width
  thumbnail_size : specifies the thumbnail resizing to use - if 'none' is
                   specified the original image size is used. A value such as 
                   1440x0 specifies the value to be used.  If no value is
                   specified but the desktop_width is set the size will be
                   determined by the by the image_width for the article.
                   If desktop_width is not specified the calc_thumb_size filter
                   will return 800x0 (i.e. maximum width of 800 maintaining
                   the aspect ratio)
  mobile_thumbnail_size : specifies the mobile thumbnail size to use in an
                   img or picture srcset - by default this is 600x0 (this is
                   ignored if thumbnail_size is 'none')
  reversed_loop : indicates that the enclosing loop is reversed (important if
                  you allow block reordering)
  design_legend : legend for the design toolbar
  target : target for link, valid values are "_blank", "_self", "_parent",
           "_top" default is _blank

{% endcomment %}
{% load static %}
{% load block_tags %}
{% load thumbnail %}
{% spaceless %}
<div{% if b.slug %} id="{{ b.slug }}"{% endif %} class="{% if outer_class %}{{ outer_class}}{% else %}article-block{% endif %}">
  {% if b.article_type != 'picture_only' and not title_level_picture and b.title %}
      <{{ heading_level }}>{{ b.title }}</{{ heading_level }}>
  {% endif %}
  {% if b.picture and b.picture.image and b.article_type != 'text_top' %}
  {% if b.link %}<a href="{{ b.link.url }}" title="{{ b.link.title }}" target="{% if target %}{{ target }}{% else %}_blank{% endif %}">{% endif %}
  {% include 'compose/_article_image.html' %}
  {% if b.link %}</a>{% endif %}
  {% endif %}
  {% if b.article_type != 'picture_only' %}
    {% if title_level_picture and b.title %}
      {% if b.link %}<a href="{{ b.link.url }}" title="{{ b.link.title }}" target="{% if target %}{{ target }}{% else %}_blank{% endif %}">{% endif %}
      <{{ heading_level }}>{{ b.title }}</{{ heading_level }}>
      {% if b.link %}</a>{% endif %}
    {% endif %}
    {% if b.description or b.picture %}
    <div{% if inner_class %} class="{{ inner_class }}"<{% endif %}>
    {% endif %}
    {% if b.description %}
      {% autoescape off %}
        {{ b.description }}
      {% endautoescape %}
    {% endif %}
  {% endif %}
  {% if read_more_text and b.link %}<a class="article-read-more-link" href="{{ b.link.url }}" title="{{ b.link.title }}" target="{% if target %}{{ target }}{% else %}_blank{% endif %}">{{ read_more_text }}</a>{% endif %}
  {% if b.picture and b.picture.image and b.article_type == 'text_top' %}
  {% if b.link %}<a href="{{ b.link.url }}" title="{{ b.link.title }}" target="_blank">{% endif %}
  {% include 'compose/_article_image.html' %}
  {% if b.link %}</a>{% endif %}
  {% endif %}
  {% if always_show_text_link and b.link %}
    <p>
      <a href="{{ b.link.url }}" title="{{ b.link.title }}" target="_blank">
        <i class="fa fa-file-o"></i> {{ b.link.title }}
      </a>
    </p>
  {% elif not b.picture and b.link and b.article_type != 'picture_only' %}
    <p>
      <a href="{{ b.link.url }}" title="{{ b.link.title }}" target="_blank">
        <i class="fa fa-file-o"></i> {{ b.link.title }}
      </a>
    </p>
  {% endif %}
  {% if b.article_type != 'picture_only' %}
    {% if b.description or b.picture %}
      </div>
    {% endif %}
  {% endif %}
  {% if design %}
    <div>
      {# pass optional parameters reversed_loop and design_legend - this is a bit messy but django templates don't seem to provide a clean method #}
      {% if reversed_loop and design_legend %}
      {% block_moderate b with forloop=forloop reversed_loop=reversed_loop legend=design_legend %}
      {% elif design_legend %}
      {% block_moderate b with forloop=forloop legend=design_legend %}
      {% elif reversed_loop %}
      {% block_moderate b with forloop=forloop reversed_loop=reversed_loop %}
      {% else %}
      {% block_moderate b with forloop=forloop %}
      {% endif %}
      {% if b.slug %}
      <p>
      <small>Link to this article: <a href="{{ view_url }}#{{ b.slug }}">{{ view_url }}#{{ b.slug }}</a></small>
      </p>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endspaceless %}
