{% load block_tags %}

{% for b in body_list %}
  {% if forloop.first %}
    <div class="pure-g">
  {% endif %}
  {% if b.article_type == 'text_right' %}
    <!-- opening div inside this include -->
    {% include 'compose/_image_width.html' %}
      {% include 'compose/_body_picture.html' with image_class='article-image-left' %}
    </div>
    <!-- opening div inside this include -->
    {% include 'compose/_text_width.html' %}
      {% include 'compose/_text.html' %}
    </div>
  {% elif b.article_type == 'text_top' %}
    <div class="pure-u-1">
      {% include 'compose/_text.html' %}
    </div>
    <div class="pure-u-1">
      {% include 'compose/_body_picture.html' with image_class='article-image-center' %}
    </div>
  {% elif b.article_type == 'text_bottom' %}
    <div class="pure-u-1">
      {% include 'compose/_body_picture.html' with image_class='article-image-center' %}
    </div>
      {% include 'compose/_text.html' %}
    </div>
  {% elif b.article_type == 'picture_only' %}
    <div class="pure-u-1">
      {% include 'compose/_body_picture.html' with image_class='article-image-center' %}
      {% if design %}
        {% block_moderate b with forloop=forloop %}
      {% endif %}
    </div>
  {% elif b.article_type == 'text_only' %}
    <div class="pure-u-1">
      {% include 'compose/_text.html' %}
    </div>
  {% else %}
    <!-- opening div inside this include -->
    {% include 'compose/_text_width.html' %}
      {% include 'compose/_text.html' %}
    </div>
    <!-- opening div inside this include -->
    {% include 'compose/_image_width.html' %}
      {% include 'compose/_body_picture.html' with image_class='article-image-right' %}
    </div>
  {% endif %}
  {% if forloop.last %}
    </div>
  {% endif %}
{% endfor %}
{% if design %}{% block_add body_create_url 'Article' %}{% endif %}
