{% comment %}
display an article containing some contact details in a panel.

Typical usage with the default css class ("content--contact") is to set the
snippet_name in the section to "compose/_contact_details.html".

If you need to change the css class name create a template and include this one
as follows::

  {% include compose/_contact_details.html with outer_class="your-class-name" %}

Variables::

  b - the article block containing contact details

  outer_class - the css class name to apply to the section

{% endcomment %}
{% load static %}
{% load block_tags %}
{% load thumbnail %}
<div class="{% if outer_class %}{{ outer_class }}{% else %}content--contact{% endif %}">
  {% if b.title %}
  <h3>{{ b.title }}</h3>
  {% endif %}
  {% if b.description %}
  <div>
    {% autoescape off %}
    {{ b.description }}
    {% endautoescape %}
  </div>
  {% endif %}
</div>
{% if design %}<div>{% block_moderate b %}</div>{% endif %}
