{% comment %}
A template for feature button.

To use, specify an include directive and optionally set the following::
  * blank_links - provide a link to '#' if the link is blank set to True or False - defaults to True
  * inner_class - defaults to "feature"
  * odd_class - defaults to "odd"
  * outer_class - defaults to "pure-u-1 pure-u-md-1-3 feature-outer" i.e.
                  three columns with a mob-feature class to allow extra
                  style info to be defined for mobile
  * image_class - defaults to "scale"
  * image_size - defaults to 480x480
  * placeholder_style - defaults to "padding-top: 100%;"
  * mask_class - defaults to "feature-mask"
  * title_class - defaults to "feature-title"
  * design legend - legend for the design toolbar

e.g. minimal specification
    {% include 'compose/features.html' %}
  or to change defaults
    {% include 'compose/features.html' with image_size='500x300' %}
{% endcomment %}

{% load block_tags %}
{% load thumbnail %}
<div class="{% if outer_class %}{{ outer_class }}{% else %}pure-u-1 pure-u-md-1-3 feature-outer{% endif %}">
  <div class="{% if inner_class %}{{ inner_class }}{% else %}feature{% endif %}{% if not forloop.counter|divisibleby:2 %}{% if odd_class %} {{ odd_class }}{% else %} odd{% endif %}{% endif %}">
    {% if blank_links is not False or b.link %}<a href={% if b.link and b.link.url %}"{{ b.link.url }}" {% if b.link.is_external or b.link.is_document %}target="_blank"{% endif %}{% else %}"#"{% endif %}>{% else %}<div class="no-link">{% endif %}
    <div>
      {% if b.picture and b.picture.image %}
      {% include 'compose/_feature_image.html' %}
      {% else %}
      {# create a placeholder - padding-top curiously, is dependant on the width not the height! #}
      <div style="{% if placeholder_style %}{{ placeholder_style }}{% else %}padding-top: 100%;{% endif %}"></div>
      {% endif %}
      <div class="{% if mask_class %}{{ mask_class }}{% else %}feature-mask{% endif %}"><span>&nbsp;</span></div>
      <div class="{% if title_class %}{{ title_class }}{% else %}feature-title{% endif %}"><span>{{ b.title }}</span>{% autoescape off %}{{ b.description }}{% endautoescape %}</div>
    </div>
    {% if blank_links is not False or b.link %}</a>{% else %}</div>{% endif %}
  </div>
</div>
{% if design %}<div>
  {% if design_legend %}
  {% block_moderate b with forloop=forloop legend=design_legend %}
  {% else %}
  {% block_moderate b with forloop=forloop %}
  {% endif %}
</div>{% endif %}
