{% load block_tags %}
{% load thumbnail %}

{% for b in slideshow_list %}
  {% for item in b.ordered_slideshow %}
    {% if forloop.first %}
      <ul class="bxslider">
    {% endif %}
    <li>
      <img src="{% thumbnail item.image.image 3681x664 autocrop background %}" title="{{ item.content.title }}" class="pure-img" />
    </li>
    {% if forloop.last %}
      </ul>
    {% endif %}
  {% endfor %}
  <h1>
  {% if b.title %}
    {{ b.title }}
  {% else %}
    {{ header_footer.header }}
  {% endif %}
  </h1>
  {% if design %}
    {% block_moderate b with forloop=forloop %}
  {% endif %}
{% empty %}
  <h1>
    {% if header_footer %}
      {{ header_footer.header }}
    {% endif %}
  </h1>
  {% if design %}{% block_add slideshow_create_url 'Slideshow' %}{% endif %}
{% endfor %}
