<script>
  function closeMenu() {
    document.getElementById("navigation-toggle").checked = false;
  }
</script>
<nav class="navigation-menu">
  <input type="checkbox" class="navigation-toggle" id="navigation-toggle">
  <label for="navigation-toggle" id="navigation-button"><span class="nav-icon">&nbsp;</span></label>
  <div class="navigation-background">&nbsp;</div>
  <ul>
    {% for menu_item in main_menu_item_list %}
    {% if menu_item.has_children %}
    <li>
      <a href="{{ menu_item.get_link }}" id="menulink{{ forloop.counter }}">{{ menu_item.title }}</a>
        <ul>
          {% for child in menu_item.menuitem_set.all %}
          <li>
            <a href="{{ child.get_link }}">{{ child.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li>
        <a id="menulink{{ forloop.counter }}" onclick="closeMenu();" href="{{ menu_item.get_link }}">{{ menu_item.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
    <li>
      <a href="{% url 'project.dash' %}" class="icon-item" title="Dashboard">
        <i class="fa fa-tachometer"></i> Dashboard
      </a>
    </li>
    <li>
      <a href="{% if design %}{{ view_url }}{% else %}{{ page.get_design_url }}?view={{ path }}{% endif %}"
        class="icon-item" title="{% if design %}View this page{% else %}Design this page{% endif %}">
        {% if design %}
        <i class="fa fa-square-o"></i> View
        {% else %}
        <i class="fa fa-pencil-square-o"></i> Design
        {% endif %}
      </a>
    </li>
    <li>
      <a href="{% url 'logout' %}" class="icon-item" title="Log out">
        <i class="fa fa-sign-out"></i> Logout
      </a>
    </li>
    {% endif %}
  </ul>
  {% block navigation_extra %}
  {% endblock navigation_extra %}
</nav>
