{% comment %}
Template snippet to use feature button to add news headlines to a page.

To use, specify an include directive and optionally set the following::
  * blank_links - provide a link to '#' if the link is blank set to True or False - defaults to True
  * container_class - defaults to "news-container"
  * news_class - defaults to "news"
  * news_odd_class - defaults to "odd"
  * description - defaults to "news"
  * outer_class - defaults to "news-outer" i.e.
                  three columns with a mob-news class to allow extra
                  style info to be defined for mobile
  * inner_class - defaults to "news-inner"
  * image_class - defaults to "scale"
  * image_size - defaults to  100x0
  * title_class - defaults to "news-title"
  * abstract_class - defaults to "news-abstract"

e.g. minimal specification
    {% include 'web/_news.html' %}
  or to change defaults
    {% include 'web/_news.html' with image_size='100x0' %}
{% endcomment %}

{% load block_tags %}
{% load thumbnail %}

<div class="{% if container_class %}{{ container_class}}{% else %}news-container{% endif %}">
  {% for b in news_list %}
    {% if forloop.counter == 1 %}
    <div class="{% if heading_class %}{{ heading_class }}{% else %}news-heading{% endif %}">{% if heading %}{{ heading }}{% else %}Latest News...{% endif %}</div>
    {% endif %}
    <div class="{% if outer_class %}{{ outer_class }}{% else %}news-outer{% endif %}">
      <div class="{% if news_class %}{{ news_class }}{% else %}news{% endif %}{% if not forloop.counter|divisibleby:2 %} {% if news_odd_class %}{{ news_odd_class }}{% else %}odd{% endif %}{% endif %}">
        {% if blank_links is not False or b.link %}<a href={% if b.link and b.link.url %}"{{ b.link.url }}"{% if b.link.is_external or b.link.is_document %} target="_blank"{% endif %}{% else %}"#"{% endif %}>{% else %}<div class="no-link">{% endif %}
          <div class="{% if inner_class %}{{ inner_class }}{% else %}news-inner{% endif %}">
            {% if b.picture and b.picture.image %}{% if image_size %}{% include 'compose/_image.html' with thumbnail_size=image_size %}{% else %}{% include 'compose/_image.html' with thumbnail_size="100x0" %}{% endif %}{% endif %}
            <div class="{% if title_class %}{{ title_class }}{% else %}news-title{% endif %}">{{ b.title }}</div>
            {% if b.description %}<div class="{% if abstract_class %}{{ abstract_class }}{% else %}news-abstract{% endif %}">{% autoescape off %}{{ b.description }}{% endautoescape %}</div>{% endif %}
          </div>
        {% if blank_links is not False or b.link %}</a>{% else %}</div>{% endif %}
      </div>
      {% if design %}
        {% block_moderate b with forloop=forloop %}
      {% endif %}
    </div>
  {% endfor %}
</div><!-- /row -->
{% if design %}{% if description %}{% block_add news_create_url description %}{% else %}{% block_add news_create_url 'news' %}{% endif %}{% endif %}
