{% load static %}
{% load block_tags %}
{% load thumbnail %}
{% for p in panel_list %}
<div class="section" {% if p.picture and p.picture.image %}style="background-image: url({% thumbnail p.picture.image 1920x0 %});"{% endif %}></div>
<div class="content" id="{{ p.slug }}">
  <div class="content--container">
    <h2>{{p.title}}</h2>
    <div class="two-columns">
      {% for element in p.elements %}
      {% for b in element.qs %}
      {% include element.section.snippet_name %}
      {% endfor %}
      {% if design %}<div>{% block_add element.create_url element.section.name %}</div>{% endif %}
      {% endfor %}
    </div>
    <div class="two-columns form-pane">
      <div>
        <h3>Contact Form</h3>
        {% if form %}
        <style>
          #enquiry-form #id_description { height: 195px; }
        </style>
        {% include '_form.html' with form_id="enquiry-form" inline_checkbox=True submit="Send Message" %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% if design %}{% block_moderate p legend=p.block.page_section.section.name %}{% endif %}
{% empty %}
{% if design and panel_create_url %}<div>{% block_add panel_create_url panel_name %}</div>{% endif %}
{% endfor %}
