{% load static %}
{% load block_tags %}
{% load thumbnail %}
{% for p in panel_list %}
<div class="section" {% if p.picture and p.picture.image %}style="background-image: url({% thumbnail p.picture.image 1920x0 %});"{% endif %}><div class="scroll-icon"></div></div>
<div class="content" id="{{ p.slug }}">
  <div class="content--container">
    <h2>{{p.title}}</h2>
    {% for element in p.elements %}
    {% for b in element.qs %}
    {% if element.section.snippet_name %}
    {% include element.section.snippet_name %}
    {% else %}
    <div>Section: "{{ element.section.name }}" does not have a snippet defined</div>
    {% endif %}
    {% endfor %}
    {% if design %}<div>{% block_add element.create_url element.section.name %}</div>{% endif %}
    {% endfor %}
  </div>
</div>
{% if design %}{% block_moderate p legend=p.block.page_section.section.name %}{% endif %}
{% endfor %}
{% if design %}<div>{% block_add panel_create_url panel_name %}</div>{% endif %}
