<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Compose</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'compose.code.snippet.list' %}" class="pure-menu-link">
      <i class="fa fa-code"></i>
      Code Snippets
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'compose.feature.style.list' %}" class="pure-menu-link">
      <i class="fa fa-tags"></i>
      Feature Styles
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'compose.header.style.list' %}" class="pure-menu-link">
      <i class="fa fa-tags"></i>
      Header Styles
    </a>
  </div>
</div>
