{% comment %}
Template to display a site menu with menu displayed using a hamburger icon
The following css is required::

  .navigation-toggle { display: none; }
  .nav-icon { position: relative; margin-top: 1.8rem; }
  .nav-icon, .nav-icon:before, .nav-icon:after { position: absolute; left: 0; width:2.5rem; height: 2px; background-color: #333333; content: ""; display: inline-block; }
  .navigation-toggle:checked ~ .navigation-background { transform: scale(200);}
  .navigation-background { display: block; position: fixed; right: 1.5rem; height: 3rem; width: 3rem; top: 1rem; border-radius: 50%; background-image: radial-gradient(#fbcc00, #fbcc22); z-index: 1050; transition: transform .8s ease-out; }
  .navigation-button     { display: block; float: right; color: #333333; background-color: white; text-align: center; height: 4rem; width: 4rem; margin-top: 1rem; position: relative; z-index: 1200; }

  You'll also need to style the ul and li elements

Variable that may be passed::

  dash_role: role that is required to access the dashboard (if not present all authenticated users can access the dashboard)

  settings_role: role that is required to access the site settings (if not present all authenticated users can access the site settings)

  phone: phone number if displayed in icons below menu button (if not present phone not displayed)

  contact: url name for contact form (if not present contact icon is not displayed)

  map: function to display map (if not present map icon is not displayed)

  facebook: facebook url (if not present facebook icon is not displayed)

  twitter: twitter url (if not present twitter icon is not displayed)

  instagram: instagram url (if not present instagram icon is not displayed)

{% endcomment %}
{% load static %}
{% load auth_tags %}
<nav class="navigation-menu">
  <input type="checkbox" class="navigation-toggle" id="navigation-toggle">
  <label for="navigation-toggle" id="navigation-button"><span class="nav-icon">&nbsp;</span></label>
  <div class="navigation-background">&nbsp;</div>
  <ul>
    {% for menu_item in main_menu_item_list %}
    {% if menu_item.has_children %}
    <li>
      <a href="{{ menu_item.get_link }}" id="menulink{{ forloop.counter }}">{{ menu_item.title }}</a>
        <ul>
          {% for child in menu_item.menuitem_set.all %}
          <li>
            <a href="{{ child.get_link }}">{{ child.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li>
        <a id="menulink{{ forloop.counter }}" class="close-menu-on-click" href="{{ menu_item.get_link }}">{{ menu_item.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
    {% if not dash_role or user|has_role:dash_role %}
    <li>
      <a href="{% url 'project.dash' %}" class="icon-item">
        <i class="fa fa-tachometer"></i> Show Dashboard
      </a>
    </li>
    {% endif %}
    {% if not settings_role or user|has_role:settings_role %}
    <li>
      <a href="{% url 'project.settings' %}" class="icon-item">
        <i class="fa fa-cog"></i> Site Settings
      </a>
    </li>
    <li>
      <a href="{% if design %}{{ view_url }}{% else %}{{ page.get_design_url }}?view={{ path }}{% endif %}"
        class="icon-item">
        {% if design %}
        <i class="fa fa-square-o"></i> View Page
        {% else %}
        <i class="fa fa-pencil-square-o"></i> Design Mode
        {% endif %}
      </a>
    </li>
    {% endif %}
    <li>
      <a href="{% url 'logout' %}" class="icon-item" title="Log out">
        <i class="fa fa-sign-out"></i> Logout
      </a>
    </li>
    {% endif %}
  </ul>
  {% if phone or contact or map or facebook or twitter or instagram %}
  <p>
    {% if phone %}
    <a href="#" title="Phone"><i class="fontawesome fa fa-phone"></i><span>{{ phone }}</span></a>
    {% endif %}
    {% if contact %}
    <a href="{% url contact %}" title="Contact"><i class="fontawesome fa fa-envelope"></i></a>
    {% endif %}
    {% if map %}
    <a href="#" onclick="{{ map }}" rel="noopener" target="_blank" title="Map"><i class="fontawesome fa fa-map fa-fw"></i></a>
    {% endif %}
    {% if facebook %}
    <a href="{{ facebook }}" rel="noopener" target="_blank" title="Facebook"><i class="fontawesome fa fa-facebook fa-fw"></i></a>
    {% endif %}
    {% if twitter %}
    {# <a href="{{ twitter }}" rel="noopener" target="_blank" title="Twitter"><i class="fontawesome fa fa-twitter fa-fw"></i></a> #}
    {% endif %}
    {% if instagram %}
    {# <a href="{{ instagram }}" rel="noopener" target="_blank" title="Instagram"><i class="fontawesome fa fa-instagram fa-fw"></i></a> #}
    {% endif %}
  </p>
  {% endif %}
</nav>
<script src="{% static 'compose/js/site-nav-menu.js' %}"></script>
