{% load block_tags %}
{% load thumbnail %}
{% for picture in b.ordered_slideshow %}
{% if forloop.first %}
<ul class="{% if slideshow_class %}{{ slideshow_class }}{% else %}bxslider{% endif %}">
{% endif %}
  <li>
    <img src="{% if image_size %}{% thumbnail picture.image.image image_size crop %}{% else %}{% thumbnail picture.image.image 1440x300 crop='center' %}{% endif %}" title="{{ picture.image.title }}" class="{% if image_class %}{{ image_class }}{% else %}pure-img{% endif %}" />
  </li>
{% if forloop.last %}
</ul>
{% endif %}
{% endfor %}
{% for picture in b.ordered_slideshow %}
{% if forloop.first %}
<div id="bx-pager">
{% endif %}
  <a class="bx-thumbnail" data-slide-index="{{ forloop.counter0 }}">
    <img src="{% if thumbnail_size %}{% thumbnail picture.image.image thumbnail_size crop %}{% else %}{% thumbnail picture.image.image 150x0 crop='center' %}{% endif %}" title="{{ picture.image.title }}" class="{% if thumbnail_class %}{{ thumbnail_class }}{% else %}pure-img{% endif %}" width="{% if thumbnail_width %}{{ thumbnail_width }}{% else %}150{% endif %}" />
  </a>
{% if forloop.last %}
</div>
{% endif %}
{% endfor %}
{% if design %}
{% if design_legend %}
{% block_moderate b with forloop=forloop legend=design_legend %}
{% else %}
{% block_moderate b with forloop=forloop %}
{% endif %}
{% endif %}
