{% load block_tags %}

<div {% if text_class %}class="{{ text_class }}{% endif %}">
  <h4>{{ b.title }}</h4>
  {% if b.description %}
    {% autoescape off %}
      {{ b.description }}
    {% endautoescape %}
  {% endif %}
  {% if not b.picture %}
    {% if b.link %}
      <a href="{{ b.link.url }}" target="_blank">
        <i class="fa fa-external-link"></i>
        {{ b.link.title }}
      </a>
      <br>
    {% endif %}
  {% endif %}
  {% if design %}
    {% block_moderate b with forloop=forloop %}
  {% endif %}
</div>
