{% extends 'dash/base.html' %}

{% block sub_title %}
  Remove article
{% endblock sub_title %}

{% block sub_heading %}
  Remove article
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr>
            <td><strong>Title</strong></td>
            <td>{{ object.title }}</td>
          </tr>
          <tr valign="top">
            <td><strong>Description</strong></td>
            <td>
              {% autoescape off %}
                {{ object.description }}
              {% endautoescape %}
            </td>
          </tr>
        </tbody>
      </table>
      {% if object.is_pending_edited or object.is_pending_pushed %}
        <p>
          This article is published on the live site.
          Clicking the 'Remove' button will remove it from your web site.
        </p>
      {% endif %}
      <div class="pure-u-1">
        {% include '_form.html' with legend='Are you sure you want to remove this article?' submit='Remove' %}
      </div>
    </div>
  </div>
{% endblock content %}
