{% extends 'dash/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Publish article
{% endblock sub_title %}

{% block sub_heading %}
  Publish article
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <br>
      <table width="100%" class="pure-table pure-table-bordered">
        <tbody>
          <tr>
            <td><strong>Title</strong></td>
            <td>{{ object.title }}</td>
          </tr>
          <tr valign="top">
            <td><strong>Description</strong></td>
            <td>
              {% autoescape off %}
                {{ object.description }}
              {% endautoescape %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pure-u-1">
      {% include '_form.html' with legend='Are you sure you want to publish this article?' submit='Publish' %}
    </div>
  </div>
{% endblock content %}
