{% extends 'web/base.html' %}
{% load static %}

{% block title %}
  {{ page.name}}
{% endblock title %}

{% block stylesheets_extra %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'compose/css/compose.css' %}">
  <link rel="stylesheet" href="{% static 'web/css/web.css' %}">
{% endblock stylesheets_extra %}

{% block header %}
  <div class="header">
    {% include 'compose/_header_slideshow.html' %}
  </div>
{% endblock header %}

{% block sub_heading %}
  {{ page.name }}
{% endblock sub_heading %}
