{% extends 'compose/base_generic.html' %}
{% comment %}
A company site base template.

To use include {% extends 'compose/base_company.html' %}

The following sections are definedi in compose/base_generic.html::
  analytics - default is google analytics using tag defined in blocksettings

  title - page title

  viewport - default is standard scaling

  favicon - defines standard icons etc produced by
            https://realfavicongenerator.net/

  stylesheet - includes font-awesome (v4) and specifies two blocks
               stylesheet_project and stylesheet_extra

  stylesheet_project - project wide stylesheets this defaults to including the
                       web/css/web.css stylesheet but to include versioning you
                       will probably want to override this

  stylesheet_extra - extra stylesheets for a particular page, for example to
                     include the image-modal stylesheet 
                      {% block stylesheet_extra %}
                        <link rel="stylesheet" href="{% static 'compose/css/image-modal.css' %}">
                      {% endblock stylesheet_extra %}

  page_container - contains two blocks page_header and content

  page_header - define the page header

  content - content block

  page_footer - define the page footer

  script - includes jquery and contains block script_extra

  script_extra - allows specification of other scripts

This template overides title, page_header and page_footer and also defines::

  site_name - Allows e.g the company name to be added to the page title

  company_details - default displays logo and defines block called company_name

  company_name - which you would typically define in your template as follows:
                      <p>The Company Limited</p>

  navigation menu - which displays the menu from menuitems model and menu for
                    logged in users and defines a block called navigation_extra

  navigation_extra - allows definition additional navigation items e.g social
                     media links

  footer_left - allows definition of a left footer column

  footer_centre - allows definition of a center footer column

  footer_right - allows definition of a right footer column

  footer_login - defaults to a providing a login link using font-awesome icon

{% endcomment %}

{% load static %}
{% load block_tags %}
{% load thumbnail %}

{% block title %}
  {{ page.name }} - {% block site_name %}{% endblock site_name %}
{% endblock title %}

{% block page_header %}
  <div class="company-name">
    {% block company_details %}
    <a href="{% url 'project.home' %}"><img src="{% static 'web/img/logo.png' %}" title="Logo" class="page-logo" /></a>
    {% block company_name %}{% endblock company_name %}
    {% endblock company_details %}
  </div>
  {% block navigation_menu %}
  <script>function closeMenu() {document.getElementById("navigation-toggle").checked = false;}</script>
  <nav class="navigation-menu">
    <input type="checkbox" class="navigation-toggle" id="navigation-toggle">
    <label for="navigation-toggle" id="navigation-button"><span class="nav-icon">&nbsp;</span></label>
    <div class="navigation-background">&nbsp;</div>
    <ul>
      {% for menu_item in main_menu_item_list %}
      {% if menu_item.has_children %}
      <li>
        <a href="{{ menu_item.get_link }}" id="menulink{{ forloop.counter }}">{{ menu_item.title }}</a>
        <ul>
          {% for child in menu_item.menuitem_set.all %}
          <li>
            <a href="{{ child.get_link }}">{{ child.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% else %}
      <li>
        <a id="menulink{{ forloop.counter }}" onclick="closeMenu();" href="{{ menu_item.get_link }}">{{ menu_item.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'project.dash' %}" class="icon-item" title="Dashboard"><i class="fa fa-tachometer"></i> Dashboard</a>
      </li>
      <li>
        <a href="{% if design %}{{ view_url }}{% else %}{{ page.get_design_url }}?view={{ path }}{% endif %}" class="icon-item" title="{% if design %}View this page{% else %}Design this page{% endif %}">{% if design %}<i class="fa fa-square-o"></i> View{% else %}<i class="fa fa-pencil-square-o"></i> Design{% endif %}</a>
      </li>
      <li>
        <a href="{% url 'logout' %}" class="icon-item" title="Log out"><i class="fa fa-sign-out"></i> Logout</a>
      </li>
      {% endif %}
    </ul>
    {% block navigation_extra %}
    {% endblock navigation_extra %}
  </nav>
  {% endblock navigation_menu %}

{% endblock page_header %}

{% block page_footer %}
  <div class="footer-section left">
    {% block footer_left %}
    {% endblock footer_left %}
  </div>
  <div class="footer-section center">
    {% block footer_centre %}
    {% endblock footer_centre %}
  </div>
  <div class="footer-section right">
    {% block footer_right %}
    {% endblock footer_right %}
    {% block footer_login %}
    {% if not user.is_authenticated %}
      &nbsp; <a href="{% url 'login' %}" title="Login"><i class="fontawesome fa fa-sign-in"></i></a>
    {% endif %}
    {% endblock footer_login %}
  </div>
{% endblock page_footer %}

