{% comment %}
A generic site base template.

To use include {% extends 'compose/base_generic.html' %} - though you may want
to use one of the templates that inherit from this e.g. base_company.html

The following sections are defined::
  analytics - default is google analytics using tag defined in blocksettings

  viewport - default is standard scaling

  favicon - defines standard icons etc produced by
            https://realfavicongenerator.net/

  stylesheet - includes font-awesome (v4) and specifies two blocks
               stylesheet_project and stylesheet_extra

  stylesheet_project - project wide stylesheets this defaults to including the
                       web/css/web.css stylesheet but to include versioning you
                       will probably want to override this

  stylesheet_extra - extra stylesheets for a particular page, for example to
                     include the image-modal stylesheet 
                      {% block stylesheet_extra %}
                        <link rel="stylesheet" href="{% static 'compose/css/image-modal.css' %}">
                      {% endblock stylesheet_extra %}

  page_container - contains two blocks page_header and content

  page_header - define the page header

  content - content block

  page_footer - define the page footer

  script - includes jquery and contains block script_extra

  script_extra - allows specification of other scripts

{% endcomment %}
{% load static %}
{% load block_tags %}
{% load thumbnail %}
{% spaceless %}
<!doctype html>
<html lang="en">
<head>
  {% block analytics %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_site_tag }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ google_site_tag }}');
  </script>
  {% endblock analytics %}
  <meta charset="utf-8" />
  {% block viewport %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock viewport %}
  {% block favicon %}
  <link rel="shortcut icon" href="{% static 'ico/favicon.ico' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'ico/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'ico/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'ico/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'ico/site.webmanifest' %}">
  <link rel="mask-icon" href="{% static 'ico/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-config" content="{% static 'ico/browserconfig.xml' %}">
  <meta name="theme-color" content="#ffffff">
  {% endblock favicon %}
  <title>{% block title %}{{ page.name}}{% endblock title %}</title>
  {% block stylesheet %}
  <!--[if lt IE 9]>
  <script src="{% static 'vendor/js/html5shiv/html5shiv.js' %}></script>
  <![endif]-->
  <link rel="stylesheet" href="{% static 'vendor/css/font-awesome/css/font-awesome.min.css' %}">
  {% block stylesheet_extra %}
  {% endblock stylesheet_extra %}
  {% block stylesheet_project %}
  <link rel="stylesheet" href="{% static 'web/css/web.css' %}" type="text/css">
  {% endblock stylesheet_project %}
  {% endblock stylesheet %}
</head>
<body>
  <div class="page-container">
    {% block page_container %}
    <div class="page-header">
    {% block page_header %}
    {% endblock page_header %}
    </div>
    <div class="page-content">
      {% block content %}
      {% endblock %}
    </div>
    {% endblock page_container %}
  </div>
  <div id="footer" class="page-footer">
  {% block page_footer %}
  {% endblock page_footer %}
  </div>

  {% block script %}
  <script src="{% static 'vendor/js/jquery-3.5.1.min.js' %}"></script>
  {% block script_project %}
  {% endblock script_project %}
  {% block script_extra %}
  {% endblock script_extra %}
  {% endblock script %}
</body>
</html>
{% endspaceless %}
