{% extends "dash/base.html" %}
{% load thumbnail %}

{% block sub_title %}
  Publish calendar
{% endblock sub_title %}

{% block sub_heading %}
  Publish calendar
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <br>
      <table width="100%" class="pure-table pure-table-bordered">
        <tbody>
          {% include 'compose/_calendar.html' %}
        </tbody>
      </table>
      <div class="pure-u-1">
        {% include '_form.html' with legend='Are you sure you want to publish this calendar?' submit='Publish' %}
      </div>
    </div>
  </div>
{% endblock content %}
