{% extends "dash/base.html" %}
{% load static %}

{% block sub_title %}
  Create New Calendar
{% endblock sub_title %}

{% block sub_heading %}
  Create New Calendar
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-u-1">
        {% include '_form.html' with legend='Are you sure you want to create a new calendar block?' submit='Create' %}
      </div>
    </div>
  </div>
{% endblock content %}
