{% extends 'compose/base.html' %}

{% load block_tags %}
{% load static %}

{% block content %}
  {% include 'compose/_body_list.html' %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% if design %}
        <p>
          The contact form will appear here on the live site
          <a href="{% url 'enquiry.list' %}">
            (<i class="fa fa-comments-o"></i>
            click here to review enquiries).
          </a>
        </p>
      {% else %}
        {% include '_form.html' %}
      {% endif %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock script_extra %}
