{% comment %}
A universal template for to add features to a page.

To use, specify an include directive and optionally set the following::
  * blank_links - provide a link to '#' if the link is blank set to True or False - defaults to True
  * container_class - defaults to "pure-g"
  * feature_class - defaults to "feature"
  * feature_odd_class - defaults to "odd"
  * feature_description - defaults to "feature"
  * feature_outer_class - defaults to "pure-u-1 pure-u-md-1-3 feature-outer" i.e.
                          three columns with a mob-feature class to allow extra
                          style info to be defined for mobile
  * feature_inner_class - defaults to "feature-inner"
  * feature_title - defaults to "feature-title"
  * image_class - defaults to "scale"
  * image_size - defaults to 480x480
  * placeholder_style - defaults to "padding-top: 100%;"
  * mask_class - defaults to "featuretitle"
  * title_class - defaults to "featuretitle"

e.g. minimal specification
    {% include 'compose/features.html' %}
  or to change defaults
    {% include 'compose/features.html' with image_size='500x300' %}
{% endcomment %}

{% load block_tags %}
{% load thumbnail %}
{% spaceless %}
<div class="{% if container_class %}{{ container_class}}{% else %}pure-g{% endif %}">
  {% for b in feature_a_list %}
    <div class="{% if feature_outer_class %}{{ feature_outer_class }}{% else %}pure-u-1 pure-u-md-1-3 feature-outer{% endif %}">
      <div class="{% if feature_class %}{{ feature_class }}{% else %}feature{% endif %}{% if not forloop.counter|divisibleby:2 %}{% if feature_odd_class %} {{ feature_odd_class }}{% else %} odd{% endif %}{% endif %}">
        {% if blank_links is not False or b.link %}<a href={% if b.link and b.link.url %}"{{ b.link.url }}" {% if b.link.is_external or b.link.is_document %}target="_blank"{% endif %}{% else %}"#"{% endif %}>{% else %}<div class="no-link">{% endif %}
            <div class="{% if feature_inner_class %}{{ feature_inner_class }}{% else %}feature-inner{% endif %}">
            {% if b.picture and b.picture.image %}
            {% include 'compose/_feature_image.html' %}
            {% else %}
            {# create a placeholder - padding-top curiously, is dependant on the width not the height! #}
            <div style="{% if placeholder_style %}{{ placeholder_style }}{% else %}padding-top: 100%;{% endif %}"></div>
            {% endif %}
            <div class="{% if mask_class %}{{ mask_class }}{% else %}feature-mask{% endif %}"><span>&nbsp;</span></div>
            <div class="{% if title_class %}{{ title_class }}{% else %}feature-title{% endif %}"><span>{{ b.title }}</span>{% autoescape off %}{{ b.description }}{% endautoescape %}</div>
          </div>
          {% if blank_links is not False or b.link %}</a>{% else %}</div>{% endif %}
      </div>
      {% if design %}
        {% block_moderate b with forloop=forloop %}
      {% endif %}
    </div>
  {% endfor %}
</div><!-- /row -->
{% endspaceless %}
{% if design %}{% if feature_description %}{% block_add feature_a_create_url feature_description %}{% else %}{% block_add feature_a_create_url 'feature' %}{% endif %}{% endif %}
