{% extends 'dash/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Publish content
{% endblock sub_title %}

{% block sub_heading %}
  Publish content
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <br>
      <table width="100%" class="pure-table pure-table-bordered">
        <tbody>
          <tr valign="top">
            <td><strong>Title</strong></td>
            <td>{{ object.title|linebreaksbr }}</td>
          </tr>
          <tr valign="top">
            <td><strong>Description</strong></td>
              <td>
                {% autoescape off %}{{ object.description|linebreaksbr }}{% endautoescape %}
              </td>
          </tr>
          <tr>
            <td><strong>Link</strong></td>
            <td>{{ object.link }}</td>
          </tr>
          <tr>
            <td><strong>Picture</strong></td>
            <td>
              {% if object.picture and object.picture.image %}
              <img src="{% thumbnail object.picture.image '100x0' %}" alt="{{ object.picture.title }}"></td>
              {% endif %}
          </tr>
          {% if object.style %}
            <tr valign="top">
              <td><strong>Style</strong></td>
              <td>{{ object.style }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
      <div class="pure-u-1">
        {% include '_form.html' with legend='Are you sure you want to publish this content?' submit='Publish' %}
      </div>
    </div>
  </div>
{% endblock content %}
