{% extends 'compose/base.html' %}

{% load block_tags %}
{% load static %}
{% load thumbnail %}

{% block content %}
  {% for g in gallery_list %}
    {% if g.title or g.description %}
      <div class="pure-g">
        <div class="pure-u-1">
          {% if g.title %}
            <h4>{{ g.title }}</h4>
          {% endif %}
          {% if g.description %}
            {% autoescape off %}
              {{ g.description }}
            {% endautoescape %}
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="pure-g">
      <div class="my-gallery" itemscope itemtype="http://schema.org/imagegallery">
        {% for item in g.ordered_slideshow %}
          <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
            <figure itemprop="associatedmedia" itemscope itemtype="http://schema.org/imageobject">
              <a href="{{ MEDIA_URL }}{{ item.image.image }}" itemprop="contenturl" data-size="{{ item.image.image.width }}x{{ item.image.image.height }}">
                <img src="{% thumbnail item.image.image '200x0' crop='auto' %}" itemprop="thumbnail" alt="{{ item.image.title }}" />
              </a>
              <figcaption itemprop="caption description">{{ item.image.title }}</figcaption>
            </figure>
          </div>
        {% endfor %}
      </div>
    </div>
    {% if design %}
      <div class="pure-g">
        <div class="pure-u-1">
          {% block_moderate g with forloop=forloop %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
  {% if design %}
    <div class="pure-g">
      <div class="pure-u-1">
        {% block_add gallery_create_url 'Gallery' %}
      </div>
    </div>
  {% endif %}
  {% include 'base/_photoswipe.html' %}
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_slider.html' %}
  {% include 'base/_photoswipe.js.html' %}
{% endblock script_extra %}
