{% extends 'compose/base.html' %}

{% load static %}

{% block content %}
  {% include 'compose/_body.html' %}
  {% if form %}
    {% include '_form.html' %}
  {% endif %}
  {# calendar from the booking app #}
  {% if calendar %}
    {% for c in calendar %}
      <div class="pure-g">
        {% for month in c %}
          <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
            <div class="l-box">
              {{ month }}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% endif %}
  {% include 'compose/_news.html' %}
  {% include 'compose/_card.html' %}
{% endblock content %}

{% block script_extra %}
  {{ block.super }}
  {% include 'base/_slider.html' %}
{% endblock script_extra %}
