{% extends 'dash/base.html' %}

{% block sub_title %}
  Remove content
{% endblock sub_title %}

{% block sub_heading %}
  Remove content
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <br>
      <table width="100%" class="pure-table pure-table-bordered">
        <tbody>
          <tr>
            <td><strong>Title</strong></td>
            <td>{{ object.title }}</td>
          </tr>
          {% if object.style %}
            <tr valign="top">
              <td><strong>Style</strong></td>
              <td>{{ object.style }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
      {% if object.is_pending_edited or object.is_pending_pushed %}
        <p>
          This content is published on the live site.
          Clicking the 'Remove' button will remove it from your web site.
        </p>
      {% endif %}
      <div class="pure-u-1">
        {% include '_form.html' with legend='Are you sure you want to remove this content?' submit='Remove' %}
      </div>
    </div>
  </div>
{% endblock content %}
