{% extends 'dash/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Publish content
{% endblock sub_title %}

{% block sub_heading %}
  Publish content
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <br>
      <table width="100%" class="pure-table pure-table-bordered">
        <tbody>
          <tr>
            <td><strong>Title</strong></td>
            <td>{{ object.title }}</td>
          </tr>
          {% if object.style %}
            <tr valign="top">
              <td><strong>Style</strong></td>
              <td>{{ object.style }}</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
      <div class="pure-u-1">
        {% include '_form.html' with legend='Are you sure you want to publish this content?' submit='Publish' %}
      </div>
    </div>
  </div>
{% endblock content %}
