{% extends 'dash/base.html' %}

{% block sub_title %}
  Update Slideshow
{% endblock sub_title %}

{% block sub_heading %}
  Update Slideshow
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Slideshow' multipart=True %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {% include 'base/_ckeditor.html' %}
{% endblock script_extra %}
