{% extends 'dash/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Publish Slideshow
{% endblock sub_title %}

{% block sub_heading %}
  Publish Slideshow
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <br>
      <table width="100%" class="pure-table pure-table-bordered">
        <tbody>
          <tr>
            <td><strong>Title</strong></td>
            <td>{{ object.title }}</td>
          </tr>
          <tr valign="top">
            <td><strong>Description</strong></td>
            <td>
              {% autoescape off %}
                {{ object.description }}
              {% endautoescape %}
            </td>
          </tr>
          {% for item in object.ordered_slideshow %}
            <tr valign="top">
              <td>
                {% if forloop.first %}
                  <strong>Slide</strong>
                {% endif %}
              </td>
              <td>
                {{ item.order }}.
                {{ item.image.title }}
                <img class="pure-img" src="{% thumbnail item.image.image 200x150 crop='smart' %}" />
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="pure-u-1">
      {% include '_form.html' with legend='Are you sure you want to publish this slideshow?' submit='Publish' %}
    </div>
  </div>
{% endblock content %}
