{% extends 'dash/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Style Create / Update
{% endblock sub_title %}

{% block sub_heading %}
  Style Create / Update
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Style Create / Update' multipart=True %}
    </div>
  </div>
{% endblock content %}
