.mobile-menu-wrapper {
  background-color: #fff;
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased;
  height: auto;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}

.mobile-menu-wrapper.open {
  height: 60em;
}

.mobile-menu-menu-3 {
  text-align: right;
}

.mobile-menu-toggle {
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.mobile-menu-toggle .bar {
  background-color: #777;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 16px;
  right: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.mobile-menu-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.mobile-menu-toggle .bar:last-child {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
}

.mobile-menu-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-menu-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.pure-menu-has-children > .pure-menu-link:after {
  padding-left: 0;
  content: "";
}

@media (max-width: 47.999em) {
  .mobile-menu-menu-3 {
    text-align: left;
  }
  .mobile-menu-toggle {
    display: block;
  }
  .mobile-menu-wrapper {
    display: none;
  }
  .mobile-menu-wrapper.open {
    display: block;
  }
  .pure-menu-allow-hover:hover > .pure-menu-children, .pure-menu-active > .pure-menu-children {
    position: relative;
    left: 30px;
  }
}
